<form>
        <select #kind required>
            <option disabled>--What kind of purchase is this?--</option>
            <option value="necessity">Necessity (food, clothes, etc...)</option>
            <option value="luxury">Luxury (games, movie ticket, etc...)</option>
        </select>
        <input placeholder="How much did you spend?" #amount required>
        <input placeholder="What did you buy?" #name required>
        <button (click)="create(kind.value, amount.value, name.value);">Save Transaction</button>
</form>